<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720788436966-t5c8knkkdcfm1g2oh07efkbhor40bo53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720788436966-t5c8knkkdcfm1g2oh07efkbhor40bo53</string>
	<key>API_KEY</key>
	<string>AIzaSyAlFNnPJI8Ajz_HYeJi8VaR3jkbVlJM1k0</string>
	<key>GCM_SENDER_ID</key>
	<string>720788436966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.priceListApp</string>
	<key>PROJECT_ID</key>
	<string>price-list-app-af47b</string>
	<key>STORAGE_BUCKET</key>
	<string>price-list-app-af47b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720788436966:ios:d552d7b056809f2667c827</string>
</dict>
</plist>